.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(27, 89, 204);
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
